.hero-container {
  height: 110vh;
  text-align: start;
  color: white;
  text-shadow: 2px 2px #000;
  font-size: calc(16px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  overflow: hidden;
  position: relative;
  top: -9rem;
  background: transparent;

  .intro-container {
    position: relative;
    top: 18vh;
    left: 8vw;
    transform: rotate(-25deg);
    font-weight: 900;
    // animation: ${heroLoad} .7s;

    & > * {
      margin: 7px 0;
    }
    & > h1 {
      display: inline-block;
      font-size: 5rem;
      background-image: linear-gradient(45deg, #6303B1, #ff0099);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
      filter: drop-shadow(2px 2px #000);
    }

    .hero-descriptions {
      margin: 0 10vw 0 0;
      & > .typed {
        font-weight: bolder;
        /* font-size: 20px; */
        background-image: linear-gradient(45deg, #6303B1, #ff0099);
      }
    }

    .hero-links {
      & > span {
        margin: 0px 6px;
        background-image: linear-gradient(45deg, #6303B1, #ff0099);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .hero-link {
        .hero-link-atag {
          text-decoration: none;
          color: inherit;
          /* border: 2px solid white; */
          &:hover {
              background-image: linear-gradient(45deg, #6303B1, #ff0099);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-shadow: none;
              filter: drop-shadow(2px 2px #000);
          }
        }
      }
    }
  }

  .hero-background-img {
    position: absolute;
    background-image: url("../../photos/coffee1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    filter: grayscale(40%) brightness(60%);
    width: 100%;
    height: 100%;

    // animation: ${imageLoad} ease 2s;
  }

  .hero-icons-container {
    /* display: flex; */
    align-items: right;
    position: fixed;
    right: 5px;
    bottom: 10px;
    list-style-type: none;
    z-index: 100;

    .hero-icons {
      margin: 5px 10px;
      & > a {
          color: white
      }
      & > #git:hover {
          color: #6303B1;
      }
      & > #mail:hover {
          color: #AC00AC;
      }
      & > #linked:hover {
          color: #BC0098;
      }
      & > #resume:hover {
          color: #ff0099;
      }
    }
  }
}